In [1]:
print("Olá mundo")

Olá mundo

In [2]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 1.5 MB/s eta 0:00:00a 0:00:01
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 5.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 7.2 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.2.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 5.8 MB/s eta 0:00:0000:0100:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 509.2/509.2 kB 5.8 MB/s eta 0:00:00a 0:00:01m
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 347.8/347.8 kB 6.1 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

### Carregamento do dataset e bibliotecas

In [4]:
import pandas as pd
dataset = pd.read_csv("./acidentes_2022.csv")

/tmp/ipykernel_8592/635370414.py:2: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("./acidentes_2022.csv")

In [5]:
dataset.head()

,Unnamed: 0,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge,dia_semana,...,lim_velocidade,tp_pista,ind_guardrail,ind_cantcentral,ind_acostamento,qtde_acidente,qtde_acid_com_obitos,qtde_envolvidos,qtde_feridosilesos,qtde_obitos
0,16027,1676690,AC1200401202201,2022-01-21,AC,2022,1,12022,1200401,SEXTA-FEIRA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,1,1,0
1,16028,4441865,AC1200401202201,2022-01-03,AC,2022,1,12022,1200401,SEGUNDA-FEIRA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
2,16029,3797599,AC1200401202201,2022-01-20,AC,2022,1,12022,1200401,QUINTA-FEIRA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
3,16030,2339226,AC1200401202201,2022-01-23,AC,2022,1,12022,1200401,DOMINGO,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,3,3,0
4,16031,3838808,AC1200401202201,2022-01-12,AC,2022,1,12022,1200401,QUARTA-FEIRA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0

In [7]:
dataset.columns

Index(['Unnamed: 0', 'num_acidente', 'chv_localidade', 'data_acidente',
       'uf_acidente', 'ano_acidente', 'mes_acidente', 'mes_ano_acidente',
       'codigo_ibge', 'dia_semana', 'fase_dia', 'tp_acidente',
       'cond_meteorologica', 'end_acidente', 'num_end_acidente',
       'cep_acidente', 'bairro_acidente', 'km_via_acidente',
       'latitude_acidente', 'longitude_acidente', 'hora_acidente',
       'tp_rodovia', 'cond_pista', 'tp_cruzamento', 'tp_pavimento', 'tp_curva',
       'lim_velocidade', 'tp_pista', 'ind_guardrail', 'ind_cantcentral',
       'ind_acostamento', 'qtde_acidente', 'qtde_acid_com_obitos',
       'qtde_envolvidos', 'qtde_feridosilesos', 'qtde_obitos'],
      dtype='object')

In [ ]:
dataset_localidades = pd.read_csv("./localidades_2022.csv")
dataset_localidades.head()

In [12]:
acidentesRO = dataset[dataset['uf_acidente'] == 'RO']
acidentesRO.head()

,Unnamed: 0,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge,dia_semana,...,lim_velocidade,tp_pista,ind_guardrail,ind_cantcentral,ind_acostamento,qtde_acidente,qtde_acid_com_obitos,qtde_envolvidos,qtde_feridosilesos,qtde_obitos
597284,3142918,600642,RO1100049202201,2022-01-28,RO,2022,1,12022,1100049,SEXTA-FEIRA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,3,3,0
597285,3142919,705720,RO1100205202201,2022-01-04,RO,2022,1,12022,1100205,TERCA-FEIRA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
597286,3142920,4472693,RO1100205202201,2022-01-10,RO,2022,1,12022,1100205,SEGUNDA-FEIRA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,2,2,0
597287,3142921,4230994,RO1100205202201,2022-01-05,RO,2022,1,12022,1100205,QUARTA-FEIRA,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,1,1,0
597288,3142922,3371664,RO1100114202201,2022-01-08,RO,2022,1,12022,1100114,SABADO,...,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,NAO INFORMADO,1,0,1,1,0

In [15]:
acidentes_RO_Localidades = pd.merge(acidentesRO, dataset_localidades, on="chv_localidade")

In [17]:
acidentes_RO_Localidades.head()

,Unnamed: 0_x,num_acidente,chv_localidade,data_acidente,uf_acidente,ano_acidente,mes_acidente,mes_ano_acidente,codigo_ibge_x,dia_semana,...,mes_referencia,mes_ano_referencia,regiao,uf,codigo_ibge_y,municipio,regiao_metropolitana,qtde_habitantes,frota_total,frota_circulante
0,3142918,600642,RO1100049202201,2022-01-28,RO,2022,1,12022,1100049,SEXTA-FEIRA,...,1,12022,NORTE,RO,1100049,CACOAL,nao,86416,76029,56817
1,3142919,705720,RO1100205202201,2022-01-04,RO,2022,1,12022,1100205,TERCA-FEIRA,...,1,12022,NORTE,RO,1100205,PORTO VELHO,nao,548952,302563,228599
2,3142920,4472693,RO1100205202201,2022-01-10,RO,2022,1,12022,1100205,SEGUNDA-FEIRA,...,1,12022,NORTE,RO,1100205,PORTO VELHO,nao,548952,302563,228599
3,3142921,4230994,RO1100205202201,2022-01-05,RO,2022,1,12022,1100205,QUARTA-FEIRA,...,1,12022,NORTE,RO,1100205,PORTO VELHO,nao,548952,302563,228599
4,3142922,3371664,RO1100114202201,2022-01-08,RO,2022,1,12022,1100114,SABADO,...,1,12022,NORTE,RO,1100114,JARU,nao,51469,41699,29878

In [19]:
acidentes_RO_Localidades.groupby('municipio').count()['num_acidente'].sort_values(ascending=False)

municipio
PORTO VELHO                  5592
JI-PARANA                    1374
VILHENA                      1330
CACOAL                        971
ARIQUEMES                     966
ROLIM DE MOURA                696
JARU                          449
PIMENTA BUENO                 405
ESPIGAO D OESTE               266
OURO PRETO DO OESTE           263
GUAJARA-MIRIM                 185
MACHADINHO D OESTE            175
ALTA FLORESTA D OESTE         174
SAO MIGUEL DO GUAPORE         158
BURITIS                       143
CANDEIAS DO JAMARI            143
CEREJEIRAS                    127
PRESIDENTE MEDICI             115
COLORADO DO OESTE             102
SAO FRANCISCO DO GUAPORE       99
NOVA BRASILANDIA D OESTE       95
ALVORADA D OESTE               94
CUJUBIM                        93
ALTO PARAISO                   82
NOVA MAMORE                    82
ITAPUA DO OESTE                71
COSTA MARQUES                  60
ALTO ALEGRE DOS PARECIS        59
MONTE NEGRO                    57
CHUPINGUAIA                    56
THEOBROMA                      54
CORUMBIARA                     53
SERINGUEIRAS                   47
SANTA LUZIA D OESTE            47
MIRANTE DA SERRA               46
NOVO HORIZONTE DO OESTE        44
URUPA                          37
VALE DO ANARI                  32
SAO FELIPE D OESTE             31
NOVA UNIAO                     31
MINISTRO ANDREAZZA             30
TEIXEIROPOLIS                  25
VALE DO PARAISO                24
CABIXI                         22
PRIMAVERA DE RONDONIA          22
GOVERNADOR JORGE TEIXEIRA      22
CAMPO NOVO DE RONDONIA         21
PARECIS                        15
RIO CRESPO                     14
PIMENTEIRAS DO OESTE           12
CASTANHEIRAS                   11
CACAULANDIA                     9
Name: num_acidente, dtype: int64